# Quais imóveis a House Rocket deveria comprar e por qual preço de compra?
Tabela de recomendações de compra ou não compra.

Os imóveis serão considerados 'bons para comprar' se respeitarem as seguintes regras:<br>
 *1- O preço do imóvel precisava estar abaixo do valor da mediana da região*<br>
 *2- A condição do imóvel precisava estar boa, ou seja, maior ou igual a 3.*<br>
 Com isso, será criada uma tabela chamada purchase_table, no formato '.csv', contendo as seguintes informações: id, zipcode, price, median_price, condition, buy.

In [2]:
#Libraries
import pandas as pd

#Functions
def get_data(path):
    data = pd.read_csv(path)
    
    return data

#Loading data
data = get_data('datasets/kc_house_data.csv')

pd.options.display.float_format = '{:.2f}'.format

In [3]:
df = data[['id', 'zipcode', 'price', 'condition']].copy()
df_zip = df[['price', 'zipcode']].groupby('zipcode').median().reset_index()
df_zip.columns = ('zipcode', 'median_price')
df= pd.merge(df, df_zip, on='zipcode', how='inner')

In [4]:
df['buy'] = 'No'
for i in range(len(df)):
    if (df.loc[i,'price'] < df.loc[i,'median_price']) & (df.loc[i,'condition'] >= 3) :
        df.loc[i,'buy'] = 'Yes'

In [5]:
df = df[['id','zipcode','price','median_price','condition','buy']]
purchase_recommended = df[df['buy'] == 'Yes'].copy()
purchase_recommended.drop_duplicates(subset='id', keep='first', inplace=True)
purchase_recommended.to_csv('datasets/purchase_table.csv', index=False)
purchase_recommended

               id  zipcode      price  median_price  condition  buy
0      7129300520    98178  221900.00     278277.00          3  Yes
1      4060000240    98178  205425.00     278277.00          4  Yes
3      2976800796    98178  236000.00     278277.00          3  Yes
4      6874200960    98178  170000.00     278277.00          3  Yes
5      4268200055    98178  245000.00     278277.00          3  Yes
...           ...      ...        ...           ...        ...  ...
21600  3025300225    98039 1450000.00    1892500.00          4  Yes
21601  2470200020    98039 1880000.00    1892500.00          4  Yes
21603  3625049079    98039 1350000.00    1892500.00          3  Yes
21605  5427100150    98039 1410000.00    1892500.00          3  Yes
21612  3262300818    98039 1865000.00    1892500.00          3  Yes

[10502 rows x 6 columns]